.icones{
    font-size: 25px;
}
.corpo{
    background-color: rgb(55, 55, 55);
    padding: 20px;
}

.formulario{
    box-shadow: 10px 8px 8px aliceblue;
}

.titulo{
    box-shadow: 10px 8px 8px aliceblue;
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 20px;
}