.icones{
    font-size: 25px;
    color: rgb(90, 139, 102);
}
.corpo{
    background-color: rgb(55, 55, 55) !important;
    background-image: none;
    padding: 20px;
}

.formulario{
    box-shadow: 10px 8px rgb(70, 80, 90);
}

a{
    text-decoration: none;
    font-style: italic;
}

.info{
    width: 300px !important;
    border: solid 5px;
    border-bottom: 2px;
    border-color: rgb(90, 139, 102) ;
    border-radius: 20px;
}

.titulo{
    box-shadow: 10px 8px rgb(70, 80, 90);
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 20px;
}


.campo-link{
    width: 100%;
    
}

.imagem{
    width: auto;
    padding: 0;
    border-radius: 50%;
}
.img{
    border-radius: 50%;
}