.icones{
    font-size: 25px;
    color: rgb(90, 139, 102);
}
.corpo{
    background-color: rgb(55, 55, 55);
    padding: 20px;
}

.formulario{
    box-shadow: 10px 8px rgb(70, 80, 90);
}

a{
    text-decoration: none;
}

.titulo{
    box-shadow: 10px 8px rgb(70, 80, 90);
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 20px;
}